<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja bem vindo ao Consultório Médico GuiMed</title>
    <link rel="stylesheet" href="/css/stylesmenupaciente.css">
    <script type="text/javascript" src="/js/scriptmenupaciente.js"></script>  
</head>
<body>
    <div class="containerHeader">
        <div class="containerHeaderTitulo">
            <h1>Sistema Médico - GuiMed</h1>
        </div>
        <div class="containerHeaderBotoes">
            <button>Sair</button>
            <button>Menu</button>
        </div>
    </div>

    <div class="containerMenu">
        <div class="containerMenuTitulo">
            <h1>Seja bem vindo, {nome} - PACIENTE</h1>
            <h2>O que você deseja fazer?</h2>
        </div>
        <div class="containerMenuBotoes">
            <button>Agendar Consulta</button>
            <button>Consultas Agendadas</button>
            <button>Meus dados pessoais</button>
        </div>
    </div>

</body>
</html>