<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja bem vindo ao Consultório Médico GuiMed</title>
    <link rel="stylesheet" href="/css/stylesmenuadmin.css">
    <script type="text/javascript" src="/js/scriptmenuadmin.js"></script>  
</head>
<body>
    <div class="containerHeader">
        <div class="containerHeaderTitulo">
            <h1>Sistema Médico - GuiMed</h1>
        </div>
        <div class="containerHeaderBotoes">
            <button>Sair</button>
            <button>Menu</button>
        </div>
    </div>

    <div class="containerMenu">
        <div class="containerMenuTitulo">
            <h1>Seja bem vindo, {nome} - Moderador</h1>
            <h2>O que você deseja fazer?</h2>
        </div>
        <div class="containerMenuBotoes">
            <a href="#"><button>Cadastrar Médicos</button></a>
            <a href="cadastrar-especialidades"><button>Cadastrar Especialidades</button></a>
            <a href="cadastrar-status"><button>Cadastrar Status</button></a>
            <a href="#"><button>Consultar Médicos</button></a>
            <a href="consulta-especialidades"><button>Consultar Especialidades</button></a>
            <a href="consulta-status"><button>Consultar Status</button></a>
        </div>
    </div>

</body>
</html>