<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja bem vindo ao Consultório Médico GuiMed</title>
    <link rel="stylesheet" href="/css/styleslogin.css">
    <script type="text/javascript" src="/js/scriptlogin.js"></script>
</head>

<body>
    <div class="containerMaior">
        <div class="containerTitulo">
            <h1>Consultório Médico GuiMed</h1>
        </div>
        <div class="containerSubTitulos">
            <h1>Cadastrar Especialidades Médicas</h1>
        </div>
        <div class="containerCadastrarEspec">
            <div class="formularioEspec">
                <form method="post" action="/cadastrar-especialidade">
                    <label for="tipoEspecialidade" id="labelTipoEspecialidade">E-mail:</label>
                    <input type="text" id="tipoEspecialidade" placeholder="Digite a especialidade médica">
                    <br>
                    <button type="button" onclick="" id="buttonCadastrarEspec">Cadastrar</button>
                </form>
            </div>
        </div>
</body>

</html>